.marker-icon {
  background-image: url("leaflet/dist/images/marker-icon.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-weight: bold;
  width: 26px !important;
  font-size: 21px;
  height: 40px !important;
}
